.bEBISY {
  display: flex;
}

.bfWHZL {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-flex;
}

.bfWHZL svg {
  z-index: 0;
  position: relative;
  width: 48px;
  height: 48px;
  max-width: none;
  max-height: none;
}

.bfWHZL svg line,
.bfWHZL svg polyline {
  transition: 0.15s ease;
}

.bfWHZL svg rect,
.bfWHZL svg path,
.bfWHZL svg circle,
.bfWHZL svg polygon {
  transition: 0.15s ease;
}

.fzeKsP {
  position: relative;
  width: 60px;
  height: 60px;
  display: inline-flex;
}

.fzeKsP svg {
  z-index: 0;
  position: relative;
  width: 60px;
  height: 60px;
  max-width: none;
  max-height: none;
}

.fzeKsP svg line,
.fzeKsP svg polyline {
  transition: 0.15s ease;
}

.fzeKsP svg rect,
.fzeKsP svg path,
.fzeKsP svg circle,
.fzeKsP svg polygon {
  transition: 0.15s ease;
}

.gBKrWE svg {
  z-index: 100;
  position: relative;
}

.gBKrWE svg path {
  fill: #00537d;
}

.gBKrWE svg path:last-child {
  fill: #FFFFFF;
}

.hMxmxV.hMxmxV.hMxmxV.hMxmxV.hMxmxV.hMxmxV {
  border: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  text-overflow: unset !important;
  background: none !important;
  box-shadow: none !important;
  overflow: unset !important;
  z-index: 1000 !important;
  position: absolute !important;
  display: inline-flex !important;
  justify-content: center !important;
  min-width: auto !important;
  width: auto !important;
  min-height: auto !important;
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Rubik", sans-serif !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 1.25 !important;
  white-space: nowrap !important;
  cursor: pointer !important;
  transition: transform 0.2s ease !important;
}

.hMxmxV.hMxmxV.hMxmxV.hMxmxV.hMxmxV.hMxmxV::after {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -22px !important;
  margin-left: -18px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 44px 18px 40px 25px !important;
}

.hMxmxV.hMxmxV.hMxmxV.hMxmxV.hMxmxV.hMxmxV {
  left: 18px !important;
  bottom: 10px !important;
  display: block !important;
  transform: translate(0px, 0px) !important;
}

.hMxmxV.hMxmxV.hMxmxV.hMxmxV.hMxmxV.hMxmxV:hover {
  transform: translate(0px, 0px) scale(1.1) !important;
}

.imAFOl {
  display: inline-flex;
  align-items: center;
  height: 18px;
}

.HqzoZ.HqzoZ.HqzoZ.HqzoZ.HqzoZ.HqzoZ {
  outline: none !important;
  border: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  text-transform: none !important;
  text-overflow: unset !important;
  background: none !important;
  overflow: unset !important;
  position: relative !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: auto !important;
  height: auto !important;
  min-width: auto !important;
  min-height: auto !important;
  margin: 0 !important;
  padding: 12px 8px !important;
  font-family: Poppins, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.25 !important;
  white-space: normal !important;
  -webkit-letter-spacing: 0 !important;
  -moz-letter-spacing: 0 !important;
  -ms-letter-spacing: 0 !important;
  letter-spacing: 0 !important;
  border-radius: 0 !important;
  color: #474747 !important;
  background-color: #FFFFFF !important;
  cursor: pointer !important;
  transition: all 0.15s ease !important;
  box-shadow: 0 0 0 0 inset rgba(0, 0, 0, 0) !important;
}

.HqzoZ.HqzoZ.HqzoZ.HqzoZ.HqzoZ.HqzoZ:hover {
  color: #2E2E2E !important;
  background-color: #FFFFFF !important;
  transform: none !important;
}

.HqzoZ.HqzoZ.HqzoZ.HqzoZ.HqzoZ.HqzoZ:active,
.HqzoZ.HqzoZ.HqzoZ.HqzoZ.HqzoZ.HqzoZ:focus {
  z-index: 1000 !important;
  box-shadow: 0 0 0 30px inset rgba(0, 0, 0, 0.04) !important;
}

.HqzoZ.HqzoZ.HqzoZ.HqzoZ.HqzoZ.HqzoZ:disabled {
  cursor: default !important;
  box-shadow: none !important;
}

.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI {
  outline: none !important;
  border: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  text-transform: none !important;
  text-overflow: unset !important;
  background: none !important;
  overflow: unset !important;
  position: relative !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: auto !important;
  height: auto !important;
  min-width: auto !important;
  min-height: auto !important;
  margin: 0 !important;
  padding: 12px 8px !important;
  font-family: Poppins, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.25 !important;
  white-space: normal !important;
  -webkit-letter-spacing: 0 !important;
  -moz-letter-spacing: 0 !important;
  -ms-letter-spacing: 0 !important;
  letter-spacing: 0 !important;
  border-radius: 0 !important;
  color: #474747 !important;
  background-color: #FFFFFF !important;
  cursor: pointer !important;
  transition: all 0.15s ease !important;
  box-shadow: 0 0 0 0 inset rgba(0, 0, 0, 0) !important;
  font-weight: 700 !important;
  color: #00537d !important;
  background-color: #FFFFFF !important;
}

.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI:hover {
  color: #2E2E2E !important;
  background-color: #FFFFFF !important;
  transform: none !important;
}

.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI:active,
.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI:focus {
  z-index: 1000 !important;
  box-shadow: 0 0 0 30px inset rgba(0, 0, 0, 0.04) !important;
}

.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI:hover {
  color: #ffc823 !important;
  background-color: #FFFFFF !important;
}

.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI:active,
.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI:focus {
  z-index: 1000 !important;
  box-shadow: 0 0 0 3px rgba(255, 200, 35, 0.25) !important;
}

.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI.chZLxI:disabled {
  cursor: default !important;
  box-shadow: none !important;
}

.eSyxGx.eSyxGx.eSyxGx.eSyxGx.eSyxGx.eSyxGx {
  z-index: 200 !important;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: stretch !important;
  width: 100% !important;
  border-top: 1px solid #EDEDED !important;
}

.eSyxGx.eSyxGx.eSyxGx.eSyxGx.eSyxGx.eSyxGx > .ButtonGroup__BtnStyle-sc-1usw1pe-0 {
  flex: 1 1 100% !important;
}

.eSyxGx.eSyxGx.eSyxGx.eSyxGx.eSyxGx.eSyxGx > .ButtonGroup__BtnStyle-sc-1usw1pe-0:first-of-type {
  border-bottom-left-radius: 8px !important;
}

.eSyxGx.eSyxGx.eSyxGx.eSyxGx.eSyxGx.eSyxGx > .ButtonGroup__BtnStyle-sc-1usw1pe-0:last-of-type {
  border-bottom-right-radius: 8px !important;
}

.eSyxGx.eSyxGx.eSyxGx.eSyxGx.eSyxGx.eSyxGx > .ButtonGroup__BtnStyle-sc-1usw1pe-0:not(:last-child) {
  border-right: 1px solid #EDEDED !important;
}

.iSnUgg {
  z-index: 100;
  position: relative;
  padding: 20px 20px 0;
  color: #2E2E2E;
  overflow: hidden;
  padding-bottom: 0;
}

.iSnUgg p {
  margin: 0;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #2E2E2E;
}

.iSnUgg .Elements__PolicyLink-sc-xuz5b0-1 {
  margin-top: 6px;
  font-size: 12px;
}

@media (min-width: 450px) {
  .iSnUgg {
    padding-bottom: 0;
  }
}
.cWsRDV,
.cWsRDV p {
  margin: 0 0 10px;
}

.cWsRDV,
.cWsRDV p,
.cWsRDV li {
  font-family: Poppins;
  color: #666666;
  font-size: 13px;
}

.jtJqfo {
  padding: 12px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
  margin: 8px -8px 6px;
}

.jtJqfo ul {
  padding: 0 10px;
  margin: 0 0 4px;
}

.jtJqfo ul li {
  font-size: 12px;
  padding: 0;
  margin: 0;
  list-style-type: "- ";
}

.jtJqfo ul li a {
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: normal;
  color: #666666 !important;
}

.jtJqfo ul li a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.ipqEjq.ipqEjq.ipqEjq {
  position: relative;
  margin-bottom: 10px;
  padding-top: 4px;
}

.ipqEjq.ipqEjq.ipqEjq h2,
.ipqEjq.ipqEjq.ipqEjq h3 {
  margin: 0 !important;
  text-align: left !important;
  line-height: 1 !important;
  color: #000000 !important;
}

.ipqEjq.ipqEjq.ipqEjq h2,
.ipqEjq.ipqEjq.ipqEjq h3,
.ipqEjq.ipqEjq.ipqEjq h2 span,
.ipqEjq.ipqEjq.ipqEjq h3 span {
  margin-bottom: 8px !important;
  font-family: SofiaProLight, sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.ipqEjq.ipqEjq.ipqEjq h2:hover,
.ipqEjq.ipqEjq.ipqEjq h3:hover {
  color: #000000 !important;
  background: none !important;
}

.ipqEjq.ipqEjq.ipqEjq h2 {
  font-size: 22px !important;
  font-weight: 600 !important;
}

.ipqEjq.ipqEjq.ipqEjq h2 span,
.ipqEjq.ipqEjq.ipqEjq h2 small {
  display: block !important;
}

.ipqEjq.ipqEjq.ipqEjq h2 small {
  font-size: 16px !important;
  font-weight: 400 !important;
  margin-bottom: 8px !important;
}

.ipqEjq.ipqEjq.ipqEjq h3 {
  font-size: 15px !important;
  font-weight: 400 !important;
}

.dolEkS {
  z-index: -1;
  position: relative;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dolEkS .SvgInline {
  z-index: 100 !important;
  position: relative !important;
}

.dolEkS .Illustration__Img {
  z-index: 100 !important;
  position: relative !important;
  max-width: 140px !important;
  max-height: 70px !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.vwoED {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.vwoED .Thumbprint__Img {
  width: auto !important;
  max-width: none !important;
  position: absolute;
  left: auto;
  top: -70px;
  right: -60px;
  transform: rotate(180deg);
}

.bQAcoQ {
  margin: 0 -10px;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out !important;
}

.gSJUfc {
  position: relative;
  display: block;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.05);
  border: none;
}

.gSJUfc h1,
.gSJUfc h2,
.gSJUfc h3,
.gSJUfc h4,
.gSJUfc h5,
.gSJUfc h6 {
  line-height: 1.2;
  margin-bottom: 0.5em;
}

.gSJUfc h1 {
  font-size: 30px;
  margin: 0.67em 0;
}

.gSJUfc h2 {
  font-size: 24px;
}

.gSJUfc h3 {
  font-size: 20px;
}

.gSJUfc h4 {
  font-size: 18px;
}

.gSJUfc h5 {
  font-size: 16px;
}

.gSJUfc h6 {
  font-size: 14px;
}

.gSJUfc p {
  font-size: 1em;
}

.gSJUfc textarea {
  overflow: auto;
}

.gSJUfc button,
.gSJUfc input {
  overflow: visible;
}

.gSJUfc button,
.gSJUfc select {
  text-transform: none;
}

.gSJUfc button,
.gSJUfc [type=button],
.gSJUfc [type=reset],
.gSJUfc [type=submit] {
  -webkit-appearance: button;
}

.gSJUfc button::-moz-focus-inner,
.gSJUfc [type=button]::-moz-focus-inner,
.gSJUfc [type=reset]::-moz-focus-inner,
.gSJUfc [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.gSJUfc button:-moz-focusring,
.gSJUfc [type=button]:-moz-focusring,
.gSJUfc [type=reset]:-moz-focusring,
.gSJUfc [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.gSJUfc img {
  border-style: none;
}

.gSJUfc b,
.gSJUfc strong {
  font-weight: bolder;
}

.gSJUfc a {
  background-color: transparent;
}

.gSJUfc .Widget__WidgetWrapper-sc-zhn46e-3 {
  background: #FFFFFF;
}

@media (min-width: 450px) {
  .gSJUfc {
    border-radius: 8px;
  }
  .gSJUfc .Widget__WidgetWrapper-sc-zhn46e-3 {
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
  }
}
.gSJUfc .ButtonGroup__BtnStyle-sc-1usw1pe-0 {
  background: #FFFFFF;
}

.gSJUfc .ButtonGroup__BtnStyle-sc-1usw1pe-0:first-of-type {
  border-bottom-left-radius: 8px;
}

.gSJUfc .ButtonGroup__BtnStyle-sc-1usw1pe-0:last-of-type {
  border-bottom-right-radius: 8px;
}

.gSJUfc .Widget__WidgetWrapper-sc-zhn46e-3 {
  max-height: calc(80vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.gSJUfc .axeptio_widget_back_btn {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  font-family: Poppins, sans-serif;
  color: #000000 !important;
}

.gSJUfc .ax-widget-info-stop-container {
  display: flex;
  position: absolute;
  left: 8px;
  bottom: 8px;
  z-index: 1000;
}

.gSJUfc .ax-widget-info-stop-btn,
.gSJUfc .ax-widget-info-resume-btn {
  border: 1px solid #EDEDED;
  border-radius: 40px;
  background: white;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 21px;
  width: 21px;
}

.gSJUfc .ax-widget-info-stop-btn:hover,
.gSJUfc .ax-widget-info-resume-btn:hover {
  background: #EDEDED;
}

.gSJUfc .ax-widget-info-stop-btn > span,
.gSJUfc .ax-widget-info-resume-btn > span {
  align-items: center;
  justify-content: center;
}

.gSJUfc .ax-widget-info-stop-btn > span rect,
.gSJUfc .ax-widget-info-resume-btn > span rect,
.gSJUfc .ax-widget-info-stop-btn > span svg path,
.gSJUfc .ax-widget-info-resume-btn > span svg path {
  fill: #2E2E2E !important;
}

.gSJUfc .ax-widget-info-resume-btn > span svg {
  margin-left: 2px;
}

.bOFruH {
  z-index: 100;
  position: relative;
}

.bDfNjH {
  display: block !important;
  margin: 0 0 8px 0 !important;
  font-family: SofiaProLight, sans-serif !important;
  font-size: 24px !important;
  line-height: 1.25 !important;
  font-weight: 700 !important;
  text-align: left !important;
  clear: none !important;
  background: transparent !important;
  height: auto !important;
  padding: 0 !important;
}

.bDfNjH * {
  color: #000000 !important;
}

.bDfNjH span,
.bDfNjH small {
  display: block !important;
  line-height: 1.25 !important;
}

.bDfNjH small {
  font-size: 70% !important;
  font-weight: 400 !important;
}

.iXwXKx {
  margin: 0;
  font-family: SofiaProLight, sans-serif;
  font-size: 16px;
  text-align: left !important;
  color: #000000;
}

.iXwXKx + .Widget__WidgetTitle-sc-zhn46e-7 {
  margin-top: 0;
}

.imIpPM {
  z-index: 300;
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM button {
  background: none;
  display: inline-flex !important;
  align-items: center;
  padding: 4px 10px;
  font-family: Poppins, sans-serif;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #666666;
  border: none;
  border-radius: 8px 8px 0 0;
  white-space: nowrap;
  transition: all 0.1s ease-out;
  font-size: 11px !important;
  font-weight: 400;
  cursor: help;
  flex-wrap: wrap;
}

.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM button > span {
  margin-right: 4px;
  font-size: 11px !important;
  line-height: 1;
  font-weight: 400;
  -webkit-letter-spacing: 0.025em;
  -moz-letter-spacing: 0.025em;
  -ms-letter-spacing: 0.025em;
  letter-spacing: 0.025em;
}

.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM button svg[aria-label=Axeptio] * {
  fill: #666666;
}

.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM button:focus {
  color: #FFFFFF;
  background: #666666;
}

.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM button:focus svg * {
  fill: #FFFFFF;
}

.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM button:hover:not(:focus) {
  color: #FFFFFF;
  background: #666666;
}

.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM.imIpPM button:hover:not(:focus) svg * {
  fill: #FFFFFF;
}

.heBQso {
  display: block;
  border-top: 1px solid #EDEDED;
  background: rgba(0, 83, 125, 0.2);
  color: #666666;
  padding: 15px;
  margin: 0 auto;
  font-family: Poppins;
}

.heBQso a {
  color: #666666;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.heBQso .ax-screen-header {
  padding: 10px;
  text-align: center;
}

.heBQso .ax-screen-header img {
  height: auto;
  margin: 0 10px 0 auto;
  display: block;
}

.heBQso .ax-screen-header .ax-baseline {
  font-family: SofiaProLight;
  margin-bottom: 5px;
  font-size: 15px;
  display: block;
}

.heBQso .ax-screen-content {
  font-size: 11px;
  text-align: justify;
}

.heBQso .ax-screen-cta {
  margin: 6px 0 0;
  font-size: 11px;
  text-align: center;
  color: #666666;
}

.heBQso .ax-link {
  display: inline-block;
  padding: 1px 5px;
  background: #00537d;
  border-radius: 2px;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.heBQso .ax-link:hover {
  color: #666666;
}

.heBQso .ax-screen-row {
  max-width: 600px;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-size: 13px;
  text-align: left;
}

.heBQso .ax-screen-baseline {
  font-family: SofiaProLight, sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

@media (max-width: 768px) {
  .heBQso {
    padding: 10px;
  }
  .heBQso .ax-baseline,
  .heBQso .ax-screen-baseline {
    font-size: 13px;
  }
  .heBQso .ax-screen-cta {
    font-size: 11px;
  }
  .heBQso .ax-screen-header img {
    width: 60px;
  }
}
.jmVYKE {
  position: absolute !important;
  -webkit-clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.bqzerq {
  z-index: 20930940;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.bqzerq .AxeptioButton__AxeptioButtonStyle-sc-1h6hacv-0 {
  position: absolute;
  bottom: 20px;
}

.lmCzqk {
  z-index: 1100;
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
}
@keyframes appearLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes disappearLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
@keyframes appearRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes disappearRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@media (min-width: 450px) {
  .lmCzqk {
    left: 20px;
    bottom: 80px;
    width: 420px;
  }
}
.lmCzqk .Widget__WidgetStyle-sc-zhn46e-2 {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  animation: appearLeft 0.4s ease-out !important;
  animation-fill-mode: both;
  transform-origin: bottom left;
}

.fFZLCu {
  z-index: 1100;
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
}
@keyframes appearLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes disappearLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
@keyframes appearRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes disappearRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@media (min-width: 450px) {
  .fFZLCu {
    left: 20px;
    bottom: 80px;
    width: 420px;
  }
}
.fFZLCu .Widget__WidgetStyle-sc-zhn46e-2 {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  animation: none !important;
  animation-fill-mode: both;
  transform-origin: bottom left;
}

.fqWLuK {
  z-index: 1100;
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
}
@keyframes appearLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes disappearLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
@keyframes appearRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes disappearRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@media (min-width: 450px) {
  .fqWLuK {
    left: 20px;
    bottom: 80px;
    width: 420px;
  }
}
.fqWLuK .Widget__WidgetStyle-sc-zhn46e-2 {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  animation: disappearLeft 0.4s ease-out !important;
  animation-fill-mode: both;
  transform-origin: bottom left;
}

@media (max-width: 450px) {
  html.axeptio-widget--open {
    min-height: 100vh !important;
    overflow: hidden !important;
    touch-action: none !important;
  }
  html.axeptio-widget--open > body {
    position: fixed !important;
    width: 100% !important;
    overflow: hidden !important;
  }
  html.axeptio-widget--open .ax-website-overlay {
    top: 0 !important;
  }
}
.axeptio_mount {
  z-index: 2147483647;
  position: relative;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

.axeptio_mount *,
.axeptio_mount *:before,
.axeptio_mount *:after {
  box-sizing: border-box;
}

.axeptio_mount .modal_reorder_helper {
  z-index: 50000;
}

.ax-website-overlay .sr-only {
  border: 0 !important;
  -webkit-clip: rect(1px, 1px, 1px, 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.ax-website-overlay .sr-only-focusable:focus {
  -webkit-clip: auto !important;
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}/*# sourceMappingURL=style.css.map */